<div style="width:100%;" class="center flexC" *ngIf="leadership=='transformational'">
	<h1> TRANSFORMATIONAL LEADERSHIP</h1>
	<div class="container">
		<div class="close center" (click)="return()">
			<img src="assets/cross.png" height="30%" width="25%"/>
		</div>
		<div class="content">
			<img src="assets/trans2.png" height="90%" width="100%"/>
		</div>
	</div>
</div>

<div style="width:100%;" class="center flexC" *ngIf="leadership=='servant'">
	<h1> SERVANT LEADERSHIP</h1>
	<div class="container">
		<div class="close center" (click)="return()">
			<img src="assets/cross.png" height="30%" width="25%"/>
		</div>
		<div class="content">
			<img src="assets/servant2.png" height="90%" width="100%"/>
		</div>
	</div>
</div>

<div style="width:100%;" class="center flexC" *ngIf="leadership=='situational'">
	<h1> SITUATIONAL LEADERSHIP</h1>
	<div class="container">
		<div class="close center" (click)="return()">
			<img src="assets/cross.png" height="30%" width="25%"/>
		</div>
		<div class="content">
			<img src="assets/situational.png" height="90%" width="100%"/>
		</div>
	</div>
</div>
