<div style="width:100%;" class="center flexC" *ngIf="idea=='1'">
	<h1>TAKEAWAY #1</h1>
	<div class="container">
		<div class="close center" (click)="return()">
			<img src="assets/cross.png" height="30%" width="25%"/>
		</div>
		<div class="content">
			<img src="assets/takeaway1.png" height="90%" width="100%"/>
		</div>
	</div>
</div>

<div style="width:100%;" class="center flexC" *ngIf="idea=='2'">
	<h1> TAKEAWAY #2</h1>
	<div class="container">
		<div class="close center" (click)="return()">
			<img src="assets/cross.png" height="30%" width="25%"/>
		</div>
		<div class="content">
			<img src="assets/takeaway2.png" height="90%" width="100%"/>
		</div>
	</div>
</div>

<div style="width:100%;" class="center flexC" *ngIf="idea=='3'">
	<h1> TAKEAWAY #3</h1>
	<div class="container">
		<div class="close center" (click)="return()">
			<img src="assets/cross.png" height="30%" width="25%"/>
		</div>
		<div class="content">
			<img src="assets/takeaway3.png" height="90%" width="100%"/>
		</div>
	</div>
</div>
