<!-- title bar -->
<div class="navbar center">
	<app-navbar></app-navbar>
</div>

<!-- Slideshow -->
<div id="slide" class="slideshow center flexC box">
	<app-slideshow class="width"></app-slideshow>
</div>
<hr class="width"/>

<!-- About page -->
<div id="about" class="about">
	<app-about class="width center flexC mar"></app-about>
	<a href="#leadership"> 
		<img src="assets/down-arrow.png" height="2%" width="2%"/>
	</a>
</div>

<!-- leadership Qualities Page -->
<div id="leadership" class="leadership">
	<app-leadership class="width center flexC mar"></app-leadership>
	<a href="#review"> 
		<img src="assets/down-arrow.png" height="2%" width="2%"/>
	</a>
</div>

<!-- Anecdote -->
<div id="review" class="review">
	<app-review class="width center flexC mar"></app-review>
	<a href="#ideas"> 
		<img src="assets/down-arrow.png" height="2%" width="2%"/>
	</a>
</div>

<!-- Key takeaways -->
<div id="ideas" class="ideas">
	<app-key-ideas></app-key-ideas>
	<a href="#eval"> 
		<img src="assets/down-arrow.png" height="2%" width="2%"/>
	</a>
</div>

<!-- Conclusion -->
<div id="eval" class="eval">
	<app-evaluation class="center flexC"></app-evaluation>
	<a href="#add"> 
		<img src="assets/down-arrow.png" height="2%" width="2%"/>
	</a>
</div>

<!-- video -->
<div id="add" class="add">
	<app-additional class="center flexC"></app-additional>
</div>

<!-- footer -->
<div id="foot" class="foot">
	<app-footer class="width"></app-footer>
</div>